.logo {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
    max-height: 40px;
    padding: 5px;
}

.logo2 {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
    max-height: 150px;
    padding: 5px;
}

.container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 77%;
}

.image-container1 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
}

.image-container2 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.logo2 {
    width: 468.281px;
    height: 50px;
}

.ad-container1{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 35px;

}

.ad-container2{
    text-align: center;
    margin: 0 auto;
}


ad2 {
    width: 150%;
}


nav {
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* set a max width to prevent the nav from becoming too wide */
    margin: 0 auto; /* center the nav horizontally */
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
 }
.navbar1 {
    background-color: #fff;
    height: 50px;
    align-items: center;
}

.navbar1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}
.navbar1 li:first-child{
    padding-right: 15px;
    padding-left: 20px;
}

.navbar1 li:nth-child(2){
    padding-right: 15px;
}

.navbar1 li:nth-child(3){
    flex-grow: 8;
}

.navbar1 li:nth-child(4) {
    margin-right: 10px; /* create an empty space between the first and second items */
}

.navbar1 li:nth-child(5) a {
    color: #0250b0;
    padding-left: 10px;
    border-left: 2px solid lightgray;
}

.navbar1 li:last-child a:hover  {
    background-color: #eee;
    color: rgba(0, 90, 200, 0.8);
}



.navbar1 li a {
    color: #313131;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    transition: color 0.2s ease-in-out;
}


.active {
    background-color: #4CAF50;
    color: #fff;
}

*************************************************************

.navbar2 {
    background-color: #fff;
    height: 50px;
    align-items: center;
}

.navbar2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}

.navbar2 li {
    display: inline-block;
}

.navbar2 li:first-child {
    transform: translateX(50%);
}

.navbar2 li:nth-child(2) {
    flex-grow: 0.10;
    transform: translateX(-35%);
}

.navbar2 li:nth-child(2) a{
    color: #db0049;

}

.navbar2 li:last-child{
    padding-right: 150px;
}



.navbar2 li a {
    color: #313131;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    transition: color 0.2s ease-in-out;
}

.navbar2 li:not(:first-child):not(:last-child) a:hover  {
    background-color: #eee;
    color: rgba(0, 90, 200, 0.8);
}


***********************************************

.navbar3 {
    background-color: #fff;
    height: 50px;
    align-items: center;
}

.navbar3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;     /*inherit???*/
}


.navbar3 li a:hover  {
    background-color: #eee;
    color: rgba(0, 90, 200, 0.8);
}



.navbar3 li a {
    color: #005ac8;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    transition: color 0.2s ease-in-out;
}