.logo {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
    max-height: 40px;
    padding: 5px;
}

.logo2 {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
    max-height: 40px;
    padding: 5px;
}

.container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

nav {
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* set a max width to prevent the nav from becoming too wide */
    margin: 0 auto; /* center the nav horizontally */
}
.navbar1 {
    background-color: #fff;
    height: 50px;
    align-items: center;
}

nav.navbar1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}

.navbar1 li:nth-child(2) {
    margin-right: 10px; /* create an empty space between the first and second items */
}

.navbar1 li:nth-child(3) {
    padding-left: 10px;
    border-left: 2px solid lightgray;
}

.navbar1 li:nth-child(1){
    flex-grow: 8;
}


nav.navbar1 li a {
    color: #313131;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    transition: color 0.2s ease-in-out;
}

nav.navbar1 li a:hover {
    background-color: #eee;
    color: rgba(0, 90, 200, 0.8);
}

.active {
    background-color: #4CAF50;
    color: #fff;
}

.navbar2 {
    background-color: #fff;
    height: 50px;
    align-items: center;
}

.navbar2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar2 li {
    float: left;
}

.navbar2 li a {
    display: block;
    color: #313131;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    transition: color 0.2s ease-in-out;
}

nav li a:hover {
    background-color: #eee;
    color: rgba(0, 90, 200, 0.8);
}

.active {
    background-color: #4CAF50;
    color: #fff;
}

.navbar2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

