.logo {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
    max-height: 40px;
    padding: 5px;
}

.logo2 {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
    max-height: 150px;
    padding: 5px;
}

.vsc-initialized {
    margin: 0;
}

.container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 77%;
}

.image-container1 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
}

.image-container2 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.logo2 {
    width: 468.281px;
    height: 50px;
}

.ad-container1{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 35px;

}

.ad-container2{
    text-align: center;
    margin: 0 auto;
}


ad2 {
    width: 150%;
}


nav {
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* set a max width to prevent the nav from becoming too wide */
    margin: 0 auto; /* center the nav horizontally */
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
 }
.navbar1 {
    background-color: #fff;
    height: 50px;
    align-items: center;
}

.navbar1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}
.navbar1 li:first-child{
    padding-right: 15px;
    padding-left: 20px;
}

.navbar1 li:nth-child(2){
    padding-right: 15px;
}

.navbar1 li:nth-child(3){
    flex-grow: 8;
}

.navbar1 li:nth-child(4) {
    margin-right: 10px; /* create an empty space between the first and second items */
}

.navbar1 li:nth-child(5) a {
    color: #0250b0;
    padding-left: 10px;
    border-left: 2px solid lightgray;
}

.navbar1 li:nth-child(5) a:hover  {
    color: rgba(0, 90, 200, 0.8);
}



.navbar1 li a {
    color: #313131;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    transition: color 0.2s ease-in-out;
}


.active {
    background-color: #4CAF50;
    color: #fff;
}

*************************************************************

.navbar2 {
    background-color: #fff;
    height: 50px;
    align-items: center;
}

.navbar2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}

.navbar2 li {
    display: inline-block;
}

.navbar2 li:first-child {
    transform: translateX(50%);
}

.navbar2 li:nth-child(2) {
    flex-grow: 0.10;
    transform: translateX(-35%);
}

.navbar2 li:nth-child(2) a{
    color: #db0049;

}

.navbar2 li:last-child{
    padding-right: 150px;
}



.navbar2 li a {
    color: #313131;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    transition: color 0.2s ease-in-out;
}

.navbar2 li:not(:first-child):not(:last-child) a:hover  {
    color: rgba(0, 90, 200, 0.8);
}


***********************************************

.navbar3 {
    background-color: #fff;
    height: 50px;
    align-items: center;
}

.navbar3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}


.navbar3 li a:hover  {
    color: rgba(0, 90, 200, 0.8);
}



.navbar3 li a {
    color: #005ac8;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    transition: color 0.2s ease-in-out;
}


*********************************************************



.article {
    flex: 1;
    padding-right: 20px;
}

.article h1 {
    font-size: 32px;
    margin-bottom: 10px;


}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.wide-article-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: #505050;
    padding: 20px 0px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}



.container h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #005ac7;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
}


.wide-article h2 {
    font-family: sans-serif;
    letter-spacing: -0.5px;
    font-size: 40px;
    line-height: 48px;
    margin-top: -10px;
    margin-bottom: -10px;
}


.wide-article h2:hover {
    color: #525252;
}


.wide-article h3 {
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    color: #505050;
    margin-bottom: 5px;
    margin-right: 30px;
    font-size: 20px;
    line-height: 24px;

}

.wide-article h4{
     margin-left: -2px;
 }

.articles-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
    padding: 20px;
}
.first-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    border-right: 1px solid lightgray;

}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 7px;

}


.small-article {
    padding-left: 14px;
    padding-right: 7px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    height: 509px;

}

#left-article {
    border-right: 1px solid lightgray;
}

.side-article {
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#bottom-side-article{
    border-bottom: 0;
}

.articles-container h2 {
    font-size: 20px;
    line-height: 24px;

    font-family: sans-serif;
    letter-spacing: -0.5px;
    font-weight: bold;
}

.articles-container h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: #505050;
}

h4 {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

.articles-container h2:hover {
    color: #525252;
}


.sidecar-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid lightgray;
    padding-right: 14px;
    width: 646px;
    height: auto;
}

.sidecar-article{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 204px;
    border-bottom: 1px solid lightgray;
    padding: 20px 0;
}

.sidecar-wide-article {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid lightgray;
}

#sidecar-wide h2{
    font-size: 30px;
    line-height: 36px;
    margin-left: 0;
    margin-right: 0;
}


#sidecar-wide h3{
    font-size: 18px;
    line-height: 26px;
    margin-left: 0;
    margin-right: 30px;
}
#sidecar-wide a{
    color: #505050;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
}

#sidecar-wide a span {
    color: #005ac8;
}

#sidecar-wide a:hover{
     text-decoration: underline;

}








.special-container {
    padding: 15px;
    margin-top: 20px;
    background-color: #e5effb;
    display: flex;
    flex-direction: column;
    width: 615px;

}

#s-first-section{
    border-right: 0;
}

#s-left-article {
    padding-right: 14px;
    border-right: 1px solid lightgray;
    display: inline-block;
}

.title-banner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0px;
    height: 40px;
}

.logo-container{
    height: 40px;
    margin-bottom: 15px;
}

.logo-container img {
    height: 32px;
    width: 144px;
}

.special-container .small-article {
    border-right: 16px;
    border-bottom: 15px;
    height: 335px;
    margin-bottom: 16px;
}

#bottom-s-a {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    height: 75px;
    border-top: 1px solid lightgray;
}

.sidecar-right {
    padding-left: 15px;
}


.sidecar-title h1{
    padding-top: 20px;
    display: block;
    line-height: 1.2em;
    color: #000;
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: bolder;
    font-family: "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    position: relative;
}


.sidecar-title span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: #005ac8;
}




.sidecar-right .small-article {
    height: 175px;
}

.right-article{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 30px;
}
















footer {
    margin: 0;
    width: 100%;
    background-color: #005ac8;
}

.footer-container {
    width: 100%;
    margin-left: 162px;
    margin-right: 162px;
    display: flex;
    flex-wrap: wrap;


}

.qn-logo{
    width: 168px;
    height: 100%;
}




.qn-logo img{
    width: 100px;
    height: 100%;
    object-fit: cover;
}


.ln-logo img {
    width: 280px;
}


.footer-main{
    padding-top: 30px;
    padding-bottom: 40px;
}

.footer-main p{
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #e8f2ff;

}

.footer-others{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 36px;
    width: 500px;
}

.footer-others svg {
    height: 15px;
    padding-right: 15px;
    opacity: 25%;
}

.line {
    width: 450px;
    height: 15px;
}



.footer-links{
    display: flex;
    flex-direction: row;
}

.f-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 30px;
    padding-top: 45px;

    /* padding-left: 30px;

    padding-bottom: 10px;*/

}

.footer-links a{
    color: #fff;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links h1{
    font-family: Arial, sans-serif;
    color: rgb(137, 168, 207);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: -0.5px;


}

.end-footer{
    background-color: #0250b0 ;
    height: 35px;
    width: 100%;
}

.footer-bottom{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    width: 1024px;
    height: 15px;
    margin-left: 162.5px;
    margin-right: 162.5px;
    font-size: 11px;
    color: #fff;
    font-family: Arial, sans-serif;
    justify-content: space-between;
    align-items: center;

}

.footer-bottom p {
    opacity: .33;
    max-width: 500px;
    height: 15px;
}

.bottom-links {
    display: flex;
    max-width: 300px;
    height: 15px;


}


.bottom-links a{
    color: #fff;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;

}

.bottom-links a:hover {
    text-decoration: underline;
}










/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    .ad-container1{
        display: none;
    }
    .image-container1{
        display: none;
    }
    .container{
        width: 100%;
    }
    .navbar1 {
        background-color: #005ac7;
        border: 1px solid #0250b0;
        height: 37px;

    }
    .navbar1 li a {
        color: #fff;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .navbar1 li:nth-child(5) a{
        color: #fff;
        border-left: 2px solid #0250b0;
        padding-left: 10px;
    }
    .navbar1 li:first-child{
        display: none;
        padding-right: 10px;
    }
    .navbar1 li:nth-child(2){
        display: none;
    }
    .navbar1 li:last-child{
        display: none;
    }

    .image-container2{
        display: none;
    }

    .image-container3{
        width: 70%;
    }

}



/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

